<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.NewsContentMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.NewsContent" >
    <id column="news_id" property="newsId" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="news_theme" property="newsTheme" jdbcType="VARCHAR" />
    <result column="news_content_label" property="newsContentLabel" jdbcType="VARCHAR" />
    <result column="news_pic" property="newsPic" jdbcType="VARCHAR" />
    <result column="news_release_name" property="newsReleaseName" jdbcType="VARCHAR" />
    <result column="news_release_pic" property="newsReleasePic" jdbcType="VARCHAR" />
    <result column="news_press" property="newsPress" jdbcType="VARCHAR" />
    <result column="news_time" property="newsTime" jdbcType="TIMESTAMP" />
    <result column="news_video_duration" property="newsVideoDuration" jdbcType="TIME" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    news_id, type_id, news_theme, news_content_label, news_pic, news_release_name, news_release_pic, 
    news_press, news_time, news_video_duration, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.model.NewsContentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_news_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_news_content
    where news_id = #{newsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_news_content
    where news_id = #{newsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.model.NewsContentExample" >
    delete from tbl_news_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.NewsContent" >
    insert into tbl_news_content (news_id, type_id, news_theme, 
      news_content_label, news_pic, news_release_name, 
      news_release_pic, news_press, news_time, 
      news_video_duration, remark)
    values (#{newsId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{newsTheme,jdbcType=VARCHAR}, 
      #{newsContentLabel,jdbcType=VARCHAR}, #{newsPic,jdbcType=VARCHAR}, #{newsReleaseName,jdbcType=VARCHAR}, 
      #{newsReleasePic,jdbcType=VARCHAR}, #{newsPress,jdbcType=VARCHAR}, #{newsTime,jdbcType=TIMESTAMP}, 
      #{newsVideoDuration,jdbcType=TIME}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.NewsContent" >
    insert into tbl_news_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        news_id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="newsTheme != null" >
        news_theme,
      </if>
      <if test="newsContentLabel != null" >
        news_content_label,
      </if>
      <if test="newsPic != null" >
        news_pic,
      </if>
      <if test="newsReleaseName != null" >
        news_release_name,
      </if>
      <if test="newsReleasePic != null" >
        news_release_pic,
      </if>
      <if test="newsPress != null" >
        news_press,
      </if>
      <if test="newsTime != null" >
        news_time,
      </if>
      <if test="newsVideoDuration != null" >
        news_video_duration,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="newsTheme != null" >
        #{newsTheme,jdbcType=VARCHAR},
      </if>
      <if test="newsContentLabel != null" >
        #{newsContentLabel,jdbcType=VARCHAR},
      </if>
      <if test="newsPic != null" >
        #{newsPic,jdbcType=VARCHAR},
      </if>
      <if test="newsReleaseName != null" >
        #{newsReleaseName,jdbcType=VARCHAR},
      </if>
      <if test="newsReleasePic != null" >
        #{newsReleasePic,jdbcType=VARCHAR},
      </if>
      <if test="newsPress != null" >
        #{newsPress,jdbcType=VARCHAR},
      </if>
      <if test="newsTime != null" >
        #{newsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newsVideoDuration != null" >
        #{newsVideoDuration,jdbcType=TIME},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.model.NewsContentExample" resultType="java.lang.Integer" >
    select count(*) from tbl_news_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_news_content
    <set >
      <if test="record.newsId != null" >
        news_id = #{record.newsId,jdbcType=INTEGER},
      </if>
      <if test="record.typeId != null" >
        type_id = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.newsTheme != null" >
        news_theme = #{record.newsTheme,jdbcType=VARCHAR},
      </if>
      <if test="record.newsContentLabel != null" >
        news_content_label = #{record.newsContentLabel,jdbcType=VARCHAR},
      </if>
      <if test="record.newsPic != null" >
        news_pic = #{record.newsPic,jdbcType=VARCHAR},
      </if>
      <if test="record.newsReleaseName != null" >
        news_release_name = #{record.newsReleaseName,jdbcType=VARCHAR},
      </if>
      <if test="record.newsReleasePic != null" >
        news_release_pic = #{record.newsReleasePic,jdbcType=VARCHAR},
      </if>
      <if test="record.newsPress != null" >
        news_press = #{record.newsPress,jdbcType=VARCHAR},
      </if>
      <if test="record.newsTime != null" >
        news_time = #{record.newsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.newsVideoDuration != null" >
        news_video_duration = #{record.newsVideoDuration,jdbcType=TIME},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_news_content
    set news_id = #{record.newsId,jdbcType=INTEGER},
      type_id = #{record.typeId,jdbcType=INTEGER},
      news_theme = #{record.newsTheme,jdbcType=VARCHAR},
      news_content_label = #{record.newsContentLabel,jdbcType=VARCHAR},
      news_pic = #{record.newsPic,jdbcType=VARCHAR},
      news_release_name = #{record.newsReleaseName,jdbcType=VARCHAR},
      news_release_pic = #{record.newsReleasePic,jdbcType=VARCHAR},
      news_press = #{record.newsPress,jdbcType=VARCHAR},
      news_time = #{record.newsTime,jdbcType=TIMESTAMP},
      news_video_duration = #{record.newsVideoDuration,jdbcType=TIME},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.NewsContent" >
    update tbl_news_content
    <set >
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="newsTheme != null" >
        news_theme = #{newsTheme,jdbcType=VARCHAR},
      </if>
      <if test="newsContentLabel != null" >
        news_content_label = #{newsContentLabel,jdbcType=VARCHAR},
      </if>
      <if test="newsPic != null" >
        news_pic = #{newsPic,jdbcType=VARCHAR},
      </if>
      <if test="newsReleaseName != null" >
        news_release_name = #{newsReleaseName,jdbcType=VARCHAR},
      </if>
      <if test="newsReleasePic != null" >
        news_release_pic = #{newsReleasePic,jdbcType=VARCHAR},
      </if>
      <if test="newsPress != null" >
        news_press = #{newsPress,jdbcType=VARCHAR},
      </if>
      <if test="newsTime != null" >
        news_time = #{newsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newsVideoDuration != null" >
        news_video_duration = #{newsVideoDuration,jdbcType=TIME},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.NewsContent" >
    update tbl_news_content
    set type_id = #{typeId,jdbcType=INTEGER},
      news_theme = #{newsTheme,jdbcType=VARCHAR},
      news_content_label = #{newsContentLabel,jdbcType=VARCHAR},
      news_pic = #{newsPic,jdbcType=VARCHAR},
      news_release_name = #{newsReleaseName,jdbcType=VARCHAR},
      news_release_pic = #{newsReleasePic,jdbcType=VARCHAR},
      news_press = #{newsPress,jdbcType=VARCHAR},
      news_time = #{newsTime,jdbcType=TIMESTAMP},
      news_video_duration = #{newsVideoDuration,jdbcType=TIME},
      remark = #{remark,jdbcType=VARCHAR}
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
</mapper>