<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapping.EvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.Evaluate" >
    <id column="evaluate_id" property="evaluateId" jdbcType="INTEGER" />
    <result column="details_id" property="detailsId" jdbcType="INTEGER" />
    <result column="evaluate_theme" property="evaluateTheme" jdbcType="VARCHAR" />
    <result column="evaluate_content" property="evaluateContent" jdbcType="VARCHAR" />
    <result column="evaluete_time" property="evalueteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    evaluate_id, details_id, evaluate_theme, evaluate_content, evaluete_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.model.EvaluateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_evaluate
    where evaluate_id = #{evaluateId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_evaluate
    where evaluate_id = #{evaluateId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.model.EvaluateExample" >
    delete from tbl_evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.Evaluate" >
    insert into tbl_evaluate (evaluate_id, details_id, evaluate_theme, 
      evaluate_content, evaluete_time)
    values (#{evaluateId,jdbcType=INTEGER}, #{detailsId,jdbcType=INTEGER}, #{evaluateTheme,jdbcType=VARCHAR}, 
      #{evaluateContent,jdbcType=VARCHAR}, #{evalueteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.Evaluate" >
    insert into tbl_evaluate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="evaluateId != null" >
        evaluate_id,
      </if>
      <if test="detailsId != null" >
        details_id,
      </if>
      <if test="evaluateTheme != null" >
        evaluate_theme,
      </if>
      <if test="evaluateContent != null" >
        evaluate_content,
      </if>
      <if test="evalueteTime != null" >
        evaluete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="evaluateId != null" >
        #{evaluateId,jdbcType=INTEGER},
      </if>
      <if test="detailsId != null" >
        #{detailsId,jdbcType=INTEGER},
      </if>
      <if test="evaluateTheme != null" >
        #{evaluateTheme,jdbcType=VARCHAR},
      </if>
      <if test="evaluateContent != null" >
        #{evaluateContent,jdbcType=VARCHAR},
      </if>
      <if test="evalueteTime != null" >
        #{evalueteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.model.EvaluateExample" resultType="java.lang.Integer" >
    select count(*) from tbl_evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_evaluate
    <set >
      <if test="record.evaluateId != null" >
        evaluate_id = #{record.evaluateId,jdbcType=INTEGER},
      </if>
      <if test="record.detailsId != null" >
        details_id = #{record.detailsId,jdbcType=INTEGER},
      </if>
      <if test="record.evaluateTheme != null" >
        evaluate_theme = #{record.evaluateTheme,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluateContent != null" >
        evaluate_content = #{record.evaluateContent,jdbcType=VARCHAR},
      </if>
      <if test="record.evalueteTime != null" >
        evaluete_time = #{record.evalueteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_evaluate
    set evaluate_id = #{record.evaluateId,jdbcType=INTEGER},
      details_id = #{record.detailsId,jdbcType=INTEGER},
      evaluate_theme = #{record.evaluateTheme,jdbcType=VARCHAR},
      evaluate_content = #{record.evaluateContent,jdbcType=VARCHAR},
      evaluete_time = #{record.evalueteTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.Evaluate" >
    update tbl_evaluate
    <set >
      <if test="detailsId != null" >
        details_id = #{detailsId,jdbcType=INTEGER},
      </if>
      <if test="evaluateTheme != null" >
        evaluate_theme = #{evaluateTheme,jdbcType=VARCHAR},
      </if>
      <if test="evaluateContent != null" >
        evaluate_content = #{evaluateContent,jdbcType=VARCHAR},
      </if>
      <if test="evalueteTime != null" >
        evaluete_time = #{evalueteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where evaluate_id = #{evaluateId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.Evaluate" >
    update tbl_evaluate
    set details_id = #{detailsId,jdbcType=INTEGER},
      evaluate_theme = #{evaluateTheme,jdbcType=VARCHAR},
      evaluate_content = #{evaluateContent,jdbcType=VARCHAR},
      evaluete_time = #{evalueteTime,jdbcType=TIMESTAMP}
    where evaluate_id = #{evaluateId,jdbcType=INTEGER}
  </update>
</mapper>