<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapping.NewsImageMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.NewsImage" >
    <id column="image_id" property="imageId" jdbcType="INTEGER" />
    <result column="news_id" property="newsId" jdbcType="INTEGER" />
    <result column="details_id" property="detailsId" jdbcType="INTEGER" />
    <result column="image_pic" property="imagePic" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    image_id, news_id, details_id, image_pic, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.model.NewsImageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_news_image
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_news_image
    where image_id = #{imageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_news_image
    where image_id = #{imageId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.model.NewsImageExample" >
    delete from tbl_news_image
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.NewsImage" >
    insert into tbl_news_image (image_id, news_id, details_id, 
      image_pic, remark)
    values (#{imageId,jdbcType=INTEGER}, #{newsId,jdbcType=INTEGER}, #{detailsId,jdbcType=INTEGER}, 
      #{imagePic,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.NewsImage" >
    insert into tbl_news_image
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        image_id,
      </if>
      <if test="newsId != null" >
        news_id,
      </if>
      <if test="detailsId != null" >
        details_id,
      </if>
      <if test="imagePic != null" >
        image_pic,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        #{imageId,jdbcType=INTEGER},
      </if>
      <if test="newsId != null" >
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="detailsId != null" >
        #{detailsId,jdbcType=INTEGER},
      </if>
      <if test="imagePic != null" >
        #{imagePic,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.model.NewsImageExample" resultType="java.lang.Integer" >
    select count(*) from tbl_news_image
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_news_image
    <set >
      <if test="record.imageId != null" >
        image_id = #{record.imageId,jdbcType=INTEGER},
      </if>
      <if test="record.newsId != null" >
        news_id = #{record.newsId,jdbcType=INTEGER},
      </if>
      <if test="record.detailsId != null" >
        details_id = #{record.detailsId,jdbcType=INTEGER},
      </if>
      <if test="record.imagePic != null" >
        image_pic = #{record.imagePic,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_news_image
    set image_id = #{record.imageId,jdbcType=INTEGER},
      news_id = #{record.newsId,jdbcType=INTEGER},
      details_id = #{record.detailsId,jdbcType=INTEGER},
      image_pic = #{record.imagePic,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.NewsImage" >
    update tbl_news_image
    <set >
      <if test="newsId != null" >
        news_id = #{newsId,jdbcType=INTEGER},
      </if>
      <if test="detailsId != null" >
        details_id = #{detailsId,jdbcType=INTEGER},
      </if>
      <if test="imagePic != null" >
        image_pic = #{imagePic,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where image_id = #{imageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.NewsImage" >
    update tbl_news_image
    set news_id = #{newsId,jdbcType=INTEGER},
      details_id = #{detailsId,jdbcType=INTEGER},
      image_pic = #{imagePic,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where image_id = #{imageId,jdbcType=INTEGER}
  </update>
</mapper>